#
# General options
#
[general]
# cores to use for parallel computing
n_core = 4
# use sampling to determine errors, otherwise use error propagation
use_sampling = true
# Size of MC sampling when calculating lensing effects
sample_size = 50000
# prefix of output files, as in 'amlensing.<prefix>.<output_format>'
prefix = default
# output extension (file format)
output_format = fits
# Gaia parallax zero point. Used in filtering
zeropoint = 0
# whether to apply source/lens filter
# disable when source/lens is not gaia source
filter_bgs = true
filter_lens = true

#
# Whether to record filter results
#   true:  add a boolean column `filter_<type>_<filter>` of the filter result
#   false: actually filter out events which does not pass the filters
#
[record_filters]
# the filter of background sources
src = false
# the filter of lens objects
lens = false
# the filter to exclude close pairs
pair = false
# the filter to check if closest approach happens between epoch_start and epoch_end
epoch = false

#
# Default epochs
#
[epoch]
# exclude events whose closest approach is outside of this time span
epoch_start = 2010.0
epoch_end = 2070.0

#
# Default file names
# Used for either searching existing files, or creating new files
#
[files]
# Raw lensing candidate file
raw_cands_table = rawcands.fits
# Files of lens quality data
lens_data = lens.fits
# Files of bgs quality data
bgs_data = bgs.fits


#
# Fallback values for missing data
# NOTE: ob_pmra, ob_pmdec and ob_parallax will be estimated using DR2-DR3 displacement
#
[mask_values]
# default reference epoch for all lens objects
epoch = 2016.0
# default reference epoch for all background sources
ob_epoch = 2016.0
# astrometric properties
ob_pmra = 0
ob_pmra_error = 5
ob_pmdec = 0
ob_pmdec_error = 5
ob_parallax = 0
ob_parallax_error = 3
# photometric properties
phot_rp_mean_mag = 0
phot_bp_mean_mag = 0
ob_phot_rp_mean_mag = 0
ob_phot_bp_mean_mag = 0

#
# Limits for lensing effect filtering
#
[lensing_limit]
# limit for filter with approximated centroid shift in mas, which neglects parallax effects
approx_shift_limit = 0.03
# limit for final centroid shift filter in mas
shift_limit = 0.1
# limit for final magnification filter in mag
mag_limit = 0.001

#
# Limits for lens objects filtering
#
[lens_limit]
# RUWE
ruwe = 2.0
# parallax over it's error
px = 5
# G magnitude
mag = 21
# The next two are used together to filter flux
n_obs_sig_g_flux = 3e5
n_obs_sig_g_flux_power = 1.5

#
# Limits for background source filtering
#
[bgs_limit]
# RUWE
ruwe = 2.0
# parallax over it's error
px = -3
# proper motion
pm = 80
# G magnitude
mag = 21.5
# total position (ra and dec) error in mas
pos_err = 10

#
# Limits for Gaia-DR2 match
#
[DR2_limit]
# DR3-DR2 proper motion difference
pm_bad = 1000
# DR3-DR2 G magnitude difference
mag = 0.3

#
# Limits for close pair exclusion
#
[Pair_limit]
# lens-source relative parallax
px = 0.9
# length of lens-source relative proper motion
pm_tot = 80
# pm_bgs < pm_sim_1 * pm_lens
pm_sim_1 = 0.8
# |pm_bgs - pm_lens| > pm_sim_2 * pm_lens
pm_sim_2 = 0.7
