
.list-unstyled .btn{
   text-align: left;''
   background-color: rgba(0,0,0,0.05);
}
.list-unstyled .btn:hover{
    background-color: rgba(0,0,0,0.25);
}

.traceback{
    font-size: 12px;
    line-height: .9em;
}

