/**
 * Styles and variables for the change list page.
 */
.rb-c-admin-change-list__item-action {
  border: 1px #C0C0C0 solid;border-radius: 4px;color: #333333;cursor: pointer;display: inline-block;font-family: Verdana, Arial, Helvetica, Sans-Serif;font-weight: normal;font-size: 13px;line-height: normal;padding: 3px 8px;text-decoration: none;transition: 0.1s linear all;background-color: #E9E9E9;background-repeat: no-repeat;background-image: linear-gradient(to bottom, #FFFFFF, #FFFFFF 25%, #E9E9E9);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#E9E9E9', GradientType=0);
}
.rb-c-admin-change-list__item-action:hover,
.rb-c-admin-change-list__item-action .hover {
  background-position: 0 -15px;color: #333333;text-decoration: none;
}
.rb-c-admin-change-list__item-action:link,
.rb-c-admin-change-list__item-action:visited {
  color: #333333;
}
.rb-c-admin-change-list__item-action.disabled {
  color: #D0D0D0;cursor: default;background-image: none;filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.rb-c-admin-change-list__item-action.danger {
  color: #FFFFFF !important;background-color: #CB0000;background-repeat: repeat-x;background-image: linear-gradient(to bottom, #EE5F5B, #CB0000);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EE5F5B', endColorstr='#CB0000', GradientType=0);text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);border-color: #CB0000 #CB0000 #7e0000;border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.rb-c-admin-change-list__item-action.default,
.rb-c-admin-change-list__item-action.primary {
  color: #FFFFFF;background-color: #2378DB;background-repeat: repeat-x;background-image: linear-gradient(to bottom, #4A90E2, #2378DB);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4A90E2', endColorstr='#2378DB', GradientType=0);text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);border-color: #2378DB #2378DB #185499;border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
/**
 * The main component for the Administration UI's Change List page.
 *
 * This manages the display and layout of the Change List page, which shows
 a list of items in a database, along with search functionality, filtering,
 * and an actions drawer.
 *
 * Modifiers:
 *     -has-filters:
 *         The change list page has filters available for showing subsets of
 *         items.
 *
 * Structure:
 *     <div class="rb-c-admin-change-list">
 *      <form class="rb-c-admin-search" method="GET">...</form>
 *      <div class="rb-c-admin-filters">...</div>
 *      <form class="rb-c-admin-change-list__form" method="POST">...</form>
 *     </div>
 */
.rb-c-admin-change-list {
  /**
   * A list of results.
   *
   * This will be a full datagrid component, and corresponds to the
   * ``.datagrid-wrapper` class.
   *
   * Structure:
   *     <div class="rb-c-admin-change-list__results datagrid-wrapper">
   *      ...
   *     </div>
   */
  /**
   * Action items shown for a row.
   *
   * Structure:
   *     <div class="rb-c-admin-change-list__item-actions">
   *      <a class="rb-c-admin-change-list__item-action" href="...">...</a>
   *      ...
   *     </div>
   */
  /**
   * An action item for a row.
   *
   * This will be displayed as a button.
   *
   * Structure:
   *     <a class="rb-c-admin-change-list__item-action" href="...">...</a>
   */
}
@media only screen and (min-width: 801px) {
  .rb-c-admin-change-list.-has-filters .rb-c-admin-change-list__results,
  .rb-c-admin-change-list.-has-filters .rb-c-admin-search {
    margin-right: 240px;
    padding-right: 2em;
  }
}
.rb-c-admin-change-list__results {
  height: 100%;
  position: relative;
}
.rb-c-admin-change-list__item-actions {
  text-align: right;
  white-space: nowrap;
}
.rb-c-admin-change-list__item-action {
  font-size: inherit;
  margin-left: 0.5em;
}
.rb-c-admin-change-list__item-action.large {
  font-size: 130%;
  line-height: normal;
  padding: 9px 14px 9px;
  border-radius: 6px;
}
.rb-c-admin-change-list__item-action.small {
  padding: 7px 9px 7px;
  font-size: 11px;
}
.rb-c-admin-change-list__item-action:first-child {
  margin-left: 0;
}
/*# sourceMappingURL=change-list.css.map */